<h1>Listing tapes</h1>
<table>
	<tr>
		<th>Title</th>
		<th>Image url</th>
		<th>Memo</th>
	</tr>
	
<% for tape in @tapes %>
	<tr>
		<td><%=h tape.title %></td>
		<!-- Todo image_tag的 alt 属性没有效果 -->
		<td><%= image_tag(tape.image_url, :alt => tape.memo) %></td>
		<td><%=h tape.memo %></td>
	</tr>
	<% end %>
</table> 
<br /> 
<%= link_to "Contact Us", contactus_path, :class => "button round" %>